body {
  font-size: 62.5%;
  position: relative;
  
}
.letter-guess {
  background-color: rgb(120, 124, 126);
}
.letter-match {
  background-color: rgb(201, 180, 88);
}
.location-match {
  background-color: rgb(106, 170, 100);
}
#grid {
  font-size: 1.6em;
  text-align: center;
  font-size: 44pt;
}
.row .tile, #keyboard .tile {
  color: white;
  font-family: sans-serif;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  line-height: 1.4em;
  margin: .25em;
}
#guess {
  text-transform: uppercase;
  font-size: 30pt;
}
#keyboard {
  position: relative;
  text-align: center;
}
span {
  background-color: rgb(211, 214, 218);
}

#toptitle{
  text-align: center;
  font-size: 55pt;
  font-style: italic;
  color: darkcyan;
}
#inputbox{
  text-align: center;
  ;
}
h3 {
  text-align: center;
  color: darkcyan;
}
p {
  text-align: center;
  opacity: 01%;
}
#refreshButton {
  text-align: center;
  padding-top: 10pt;
}
button {
  background-color: rgb(106, 170, 100);
  font-size: 20pt;
  
}