<h1 id="toptitle">w0rd</h1>
<h3>You have {{NUM_ROWS - rows.length}} guesses left</h3>
<p>{{solution}}</p>
<div id="keyboard">
  <h1><span 
  *ngFor="let letter of LETTERS.split('')"
  class="tile"
  [class.letter-guess]="isGuess(letter)"
  [class.letter-match]="isLetterMatch(letter)"
  [class.location-match]="isLocationMatch(letter)"
  >{{ letter }}</span></h1>
</div>
<hr>
<div id="inputbox">
<input id="guess" (keyup.enter)="handleGuess($event)">
</div>
<div id="grid">
  <div *ngFor="let row of rows" class="row">
    <span 
      *ngFor="let char of row.split(''); let i = index" 
      class="letter-guess tile"
      [class.letter-match]="solution.includes(char)"
      [class.location-match]="solution[i] === char"
      >{{ char }}</span>
  </div>
</div>
<div  id="refreshButton">
<button (click)="reloadCurrentPage()">New Word</button>
</div>
